@charset "utf-8";
/* CSS Document */

.body {
	background-color:rgba(255,255,255,0.7) ;
	text-align:left;
	}
.header_sitename_bg{
	vertical-align:top;
	/*background-image:url(../images/arzonelogo3.png);*/
	background-repeat:repeat-x;
	/*background-color:#7CD865;*/
	text-align:left;
	padding:0px;
	text-decoration:none;
	color:#000000;
}

.header_sitename_bg a{
	text-decoration:none;
	color:#000000;
}


.menuprincipale {
	/*background-image: url(../images/ar_btt_menuprincipale.png);*/
	background-color:#2B69D2;
	background-repeat:repeat-x;

}

.basdepage{
	background-color:#005BB7;
	text-align:center;
	padding-bottom:5px;
	padding-top:5px;
	text-decoration:none;
	color:#FFFFFF;
}

.bodi{

padding-left:0px;
	padding-right:0px;
	color:#000000;
	display:block;
	margin-left:-8px;
	margin-right:-8px;*/
	inline-box-align:initial;
	width:inherit;
	background:url(../images/ar_site.png) no-repeat left fixed;
	-moz-background-size:cover;
	background-size:cover;
	display:block;

	 }

.body_iframe{

padding-left:0px;
	padding-right:0px;
	color:#000000;
	display:block;
	/*margin-left:-8px;
	margin-right:-8px;*/
	inline-box-align:initial;
	width:inherit;
	background-color:#FFF;
	-moz-background-size:cover;
	background-size:cover;
	display:block;
	font-weight:bold;

	 }


.animtitlebanner{
	height:50px; position:absolute; top:200px;  opacity:0.5; background-color:#FFFFFF; padding-left:20px; width:100%; z-index:100; text-align:left;
	font-weight:bold;
	color:#006633;
}

.nouveau_formulaire a{
	text-decoration:none;
	color:#FFFFFF;
	font-size:20px;
	margin-left:5px;
	}

.ligne_indicateurs {
	font-weight:bold;
	color:#990000;

}

.modal_affichage{
	padding:15px 15px; background-color:#006699; color:#FFF; display:block;

	}

th_affichage{

	}

.form_padding{
	padding:5px;
	color:#F00;
	}

.insertion_ligne{
	vertical-align:top;
	font-size:x-small;
	font-weight:bold
	}

.entete_titre{

	}

.ajouter_ligne{

	}

	.produit{
		font-weight:bold;
		color:black;
	}

.menuprincipale{
background-color:#006697;
 	}

	.conteneurTreeview{
		cursor: auto;
		scroll-behavior: auto;
		width: 400px;

	}

input [type=text]{
	width: 5%;
}

.divtree{
	min-width: 200px;
	max-width: 250px;
	max-height: 400px;
	cursor: auto;

}

.sidenav {
  height: 70%; /* Full-height: remove this if you want "auto" height */
  width: 250px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 50px; /* Stay at the top */
  left: 0;
  background-color: #f3f3f3; /* Black */
  overflow-x: auto;   /* Disable horizontal scroll */
  padding-top: 20px;
	cursor: auto;
	scroll-behavior: auto;
}

/* The navigation bar */
.container1_old {
  overflow: hidden;
  /*background-color: #333;*/
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
	height: 20px%;
	margin-left: 20px;
	background-color:
}

.container1 {
display: flex;
box-sizing: border-box;
background: rgb(39, 102, 150);
position: fixed;
top: 0px;
left: 0px;
width: 100%;
min-height: 48px;
justify-content: center;
align-items: center;
z-index: 1400;
padding: 10px;
}

.main{
	margin-left: 260px;
	margin-top: 50px;



}


	.div-disabled
	{
	  pointer-events: none;
	  opacity: 0.5;
	  background: #CCC;
	}


	div.editepromodal {
		position:relative;
	   top:auto;
	   right:auto;
	   left:auto;
	   bottom:100;
	}
	div.horizontaldefilmodal {

		 overflow: auto;
		 white-space: nowrap;
		background-color: white;

	}

	#id_htmlmaine{
		padding: 5px;
	}
