<!DOCTYPE html>
<html class="no-js">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Data Transfert</title>
	<meta name="description" content="Customs indicator">
	<meta name="viewport" content="width=device-width">

	<meta name="viewport" content="width=device-width">
	<link rel="icon" href="img/icons/icon.png">
	<script type="text/javascript" language="javascript" src="js/libs/jQuery/jquery.js"></script>
	<script type="text/javascript" language="javascript" src="js/libs/jQuery/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="css/jQuery/jquery-ui.css">
	<script type="text/javascript" src="../../../dhis-web-commons/select2/select2.min.js"></script>
	<link type="text/css" rel="stylesheet" media="screen" href="../../../dhis-web-commons/select2/select2.css" />
	<link type="text/css" rel="stylesheet" media="screen"
		href="../../../dhis-web-core-resource/select2/3.4.5/select2-bootstrap.css" />

	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-flat.min.css">
	<link rel="stylesheet" href="css/bootstrap-datepicker.css">
	<link rel="stylesheet" href="css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="css/lobipanel.css">
	<link rel="stylesheet" href="css/select2-bootstrap.css">
	<script type="text/javascript" src="js/jquery.toastmessage.js"></script>
	<script type="text/javascript" src="js/toastr.min.js"></script>
	<script type="text/javascript" src="js/lobipanel.js"></script>

	<!-- Stylesheets related to the menu -->
	<link type="text/css" rel="stylesheet" href="../../../dhis-web-commons/font-awesome/css/font-awesome.min.css" />
	<link type="text/css" rel="stylesheet" media="screen" href="../../../dhis-web-commons/css/menu.css">
	<link href="css/toastr.min.css" rel="stylesheet" type="text/css" />
	<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-table/1.0.0/ng-table.min.css">-->
	<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/ng-table/1.0.0/ng-table.min.js"></script>-->
	<link type="text/javascript" href="../../../dhis-web-core-resource/leaflet/0.7.7/leaflet.js">

	<style>
		body,
		.container {
			padding-top: 40px;
			padding-bottom: 40px;
		}

		.border {
			border-right: 1px solid #ddd;
		}

		.pswd {
			-webkit-text-security: square;
		}
	</style>
	<link rel="stylesheet" href="css/bootstrap-responsive.min.css">
	<link rel="stylesheet" href="css/main.css">

	<script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>


	<script>

		$(document).ready(function () {
			$("#tabs").tabs();
			//$("#configDS").select2();
			//$("#instance").select2();
			$("#peType").select2();
			$("#sourceGroupMetaList").select2();
			$("#targetGroupMetaList").select2();
			$("#sourceGroupOUList").select2();
			$("#targetGroupOUList").select2();
			$("#typeMetaList").select2();
			$("#ouLevelList").select2();
			/*
			$('#tabledx').DataTable({
				data: [["A", "B"], ["a", "b"]],
				'aoColumns': [
					{ sWidth: "50%", bSearchable: false, bSortable: false },
					{ sWidth: "50%", bSearchable: false, bSortable: false }
				],
			});
			$('#tableOU').DataTable();
			*/
			$('.lobipanel').lobiPanel();
			$('#lobipanel-multiple0').find('.panel').lobiPanel({
				sortable: false,
				reload: false,
				close: false,
				editTitle: false,
				draggable: false,
				unpin: false,
				expand: false,
				minimize: {
					icon: 'fa fa-chevron-up',
					icon2: 'fa fa-chevron-down'
				},
				toSmallSize: true
			});
			$('#lobipanel-multiple').find('.panel').lobiPanel({
				sortable: false,
				reload: false,
				close: false,
				editTitle: false,
				draggable: false,
				unpin: false,
				expand: false,
				minimize: {
					icon: 'fa fa-chevron-up',
					icon2: 'fa fa-chevron-down'
				},
				toSmallSize: true
			});
/*
			for (compt = 0; compt < 1000; compt++) {
				$("#idselect" + compt).select2({
					placeholder: "Choisisez un produit",
					allowClear: true
				});
			}
			for (compt = 0; compt < 1000; compt++) {
				$("#idselectOu" + compt).select2({
					placeholder: "Choisisez un produit",
					allowClear: true
				});
			}
		*/
		});
	</script>
	<link rel="stylesheet" href="css/main.css">
</head>

<body data-ng-app="dataManager">

	<div id="header"></div>
	<div id="headerMessage"></div>
	<!--<div id="dhisDropDownMenu"></div>  -->
	<div id="leftBar">
		<div ng-include="'menus/menu-left.html'" ng-controller="menuController"> </div>
	</div>

	<!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
	<style>
		#coverLoad {
			position: fixed;
			width: 100%;
			background: rgba(0, 0, 0, 0.5);
			z-index: 2147483647;
		}

		.loadImage {
			width: 150px;
			position: fixed;
			top: 50%;
			left: 50%;
			margin-top: -75px;
			margin-left: -75px;
		}
	</style>

	<div id="coverLoad">
		<image class="loadImage" src="images/loader.gif" />
	</div>


	<div class="container col-md-12 col-md-offset-2 ">
		<h3>Configuration</h3>

		<fieldset>
			<legend></legend>
		</fieldset>
		<br />
		<div style="text-align:left " data-ng-controller="configController">

			<div class="nav nav-tabs" id="tabs">
				<div class="portlet box">
					<div class="portlet-header">
						<div id="lobipanel-multiple0">
							<div class="bs-example">
								<div class="panel">


									<div class="col-md-12">
										<div class="panel panel-info">
											<div class="panel-heading">
												<div class="panel-title">
													<h4>{{'Target Server' | translate}}</h4>
												</div>
											</div>

											<div id="idTargetServer" class="panel-body">

												<div class="form-inline" style="white-space:nowrap"></br>
													<label> Instance </label>
													<select data-ng-model="instance" id="instance" class="form-control"
														data-placeholder="Select Instance">
														<option value="" selected="selected"></option>
													</select></br>
												</div>

												<br />

												<div class="form-inline" style='width:90%;' autocomplete="off">
													<label>{{instance}} {{'Name' | translate}}</label>
													<input type="text" style='width:40%;' placeholder="Enter name"
														aria-label="instance Name" id="instanceName"
														class="form-control" data-ng-model="settings.name" value="" />
													<label> Description </label>
													<input type="text" style='width:20%;'
														placeholder="Enter description"
														aria-label="instance description" id="instanceDescription"
														class="form-control" data-ng-model="settings.description" />
													<br />
												</div>
												<br />


												<div class="form-inline" style='width:90%;' autocomplete="off">
													<label> URL </label>
													<input type="text" style='width:40%;' placeholder="[serverURL]"
														aria-label="targetServer URL" id="targetServerURL"
														class="form-control" data-ng-model="settings.targetServer.url"
														value="" />
													<label> {{'Login' | translate}}</label>
													<input type="text" style='width:20%;' placeholder="enter username"
														aria-label="targetServer user" id="targetServerLogin"
														class="form-control"
														data-ng-model="settings.targetServer.user" />
													<label> {{'Password' | translate}}</label>
													<input type="text" style='width:20%;' placeholder="enter password"
														aria-label="targetServer pwd" id="targetServerPwd"
														class="form-control pswd" data-ng-model="targetServerr.pwd" />
													<br />
													<span class="label label-{{spanClass}}"> {{testConnexionStatut}}
													</span>
													<br />
													<div class="btn btn-success col-sm-2" id="btnImport"
														data-ng-click="testConnexion()"><i class="fa fa-retweet"
															aria-hidden="true"></i> {{'Connect' | translate}}</div>
													<div class="btn btn-success col-sm-2 hidden" id="btnImport"
														data-ng-click="saveConnexion()"><i class="fa fa-save"
															aria-hidden="true"></i> {{'Save' | translate}} </div>
													<div class="btn btn-danger col-sm-2" id="btnDelete"
														data-ng-click="delInstance()"
														data-ng-hide="settings.name == null || settings.name == '' "><i
															class="fa fa-trash" aria-hidden="true"></i>  {{'Delete' | translate}}</div>

												</div>
											</div>
										</div>

										<div class="panel panel-default collapsed">
											<div class="panel-heading">
												<div class="panel-title">
													<h4>{{'Selection Period and orgunit level for aggregation' | translate}}</h4>
												</div>
											</div>
											<br />
											<div id="idSourceOptions" class="panel-body">
												<table
													class="table table-striped table-hover table-condensed table-bordered">
													<tbody>
														<td>
															<label>{{'Period' | translate}}</label>
															<select class="browser-default custom-select" name="peType"
																id="peType" data-ng-model="settings.options.periodType">
																<option selected>{{'Select period' | translate}}</option>
																<option value="Daily"> {{'Daily' | translate}}</option>
																<option value="Weekly"> {{'Weekly' | translate}}</option>
																<option value="Monthly"> {{'Monthly' | translate}}</option>
																<option value="Quarterly"> {{'Quarterly' | translate}}</option>
																<option value="Yearly"> {{'Yearly' | translate}}</option>
															</select>
															<br>
														</td>
														<td>
															<label> Level </label>
															<select style="width: 50%;"
																class="browser-default custom-select"
																id="ouLevelList" name="ouLevelList"
																data-placeholder="Select aggregation level">
															</select>
														</td>
													</tbody>
												</table>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>

						<ul>
							<li class="active"><a href="#uploadSheet">{{'Upload Mapping CSV' | translate}}</a></li>
							<li><a href="#metadataMatching"> {{'Metadata Mapping' | translate}}</a></li>
						</ul>
						<br />
						<div id='uploadSheet'>
							<form id="queryContainer" style='margin-left: 30px;'>
								<!-- Input-->
								<div class="col-md-6 border">
									<fieldset>
										<a href="dx_mapping_template.csv" download="dx_mapping_template.csv"
											class="pull-right btn btn-info  btn-xs">{{'Download' | translate}} Template</a>
										<legend> {{'Upload DataElement or indicators Mapping' | translate}}</legend>
										<input type="file" class="form-control"
											accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
											id="dxmapping" />
										<p><strong id="messages" class="hidden text-error"></strong></p>
									</fieldset>

									<button style='width:90%;' type="button" ng-click="confirmBtn='dx'"
										id="updateConfigDS" onclick='confirmInstance()'
										class="btn btn-primary"> {{'Send' | translate}}</button>
								</div>
								<div class="col-md-6 border">
									<fieldset>
										<a href="ou_mapping_template.csv" download="ou_mapping_template.csv"
											class="pull-right btn btn-info  btn-xs"> {{'Download' | translate}} Template</a>
										<legend> {{'Upload OrganisationUnits Mapping' | translate}}</legend>
										<input type="file" class="form-control" id="oumapping" />
										<p><strong id="messagesOU" class="hidden text-error"></strong></p>
									</fieldset>
									<button style='width:90%;' type="button" ng-click="confirmBtn='ou'"
										id="updateConfigOU" onclick='confirmInstance()'
										class="btn btn-primary">{{'Send' | translate}}</button>
								</div>
								<!-- Button save -->

							</form> <br /><br />
						</div>


					</div>

					<div id='metadataMatching'>

						<!--Multiple lobiPanels-->
						<div id="lobipanel-multiple">
							<div class="bs-example">
								<div class="panel">
									<div class="col-md-12">

										<div class="panel panel-default">
											<div class="panel-heading">
												<div class="panel-title">
													<h4>Mapping {{'indicators/Program Indicators => DataSets' | translate}}</h4>
												</div>
											</div>
											<div id="sitDispo" class="panel-body">
												<table width="100%"
													class="table table-striped table-hover table-condensed table-bordered">
													<tr>
														<td style="width: 50%;">
															<label> Source </label>

															<select data-ng-model="typeMetaList" id="typeMetaList"
																data-placeholder="Select type metadata"
																style="max-width:300px;">
																<option value="" selected="selected"></option>
																<option value="indicator"> {{'Indicator' | translate}}</option>
																<option value="programIndicator"> {{'program Indicator' | translate}}
																</option>
															</select>

															<select data-ng-model="sourceGroupMetaList"
																id="sourceGroupMetaList"
																data-placeholder="Select Source "
																style="max-width:300px;">
																<option value="" selected="selected"></option> <span
																	style='color:red;margin-right:1.25em; display:inline-block;'>&nbsp;</span>
															</select>
														</td>
														<td style="width: 50%;">
															<label> {{'Target' | translate}} </label>
															<select data-ng-model="targetGroupMetaList"
																id="targetGroupMetaList"
																data-placeholder="Select Target DataSet"
																style="max-width:300px;">
																<option value="" selected="selected"></option>
															</select>
														</td>
													</tr>
												</table>
												<div>

												</div>
												<div>
													<a href="#" class="btn btn-info btn-sm" data-toggle="tooltip"
														title="" ng-click="fonc_typematching('code')"
														ng-model="typemaching">
														<span class="glyphicon"></span> CODE</a>

													<a href="#" class="btn btn-info btn-sm" data-toggle="tooltip"
														title="" ng-click="fonc_typematching('id')"
														ng-model="typemaching">
														<span></span> UID</a>

													<a href="#" class="btn btn-info btn-sm" data-toggle="tooltip"
														title="" ng-click="fonc_typematching('name')"
														ng-model="typemaching">
														<span></span> NAME</a>

													<a href="#" class="btn btn-success btn-sm" data-toggle="tooltip"
														title=""
														ng-click="fonc_matching('idselect',srcMeta,trgMeta,'dx')">
														Auto Mapping {{'by' | translate}} {{ typemaching }} </a>
													<!--
														<div class="btn-group" data-toggle="buttons">
															<label class="btn btn-primary active">
															  <input type="radio" name="typemaching" id="option1" ng-model="typemaching" value="id" > By Uid
															</label>
															<label class="btn btn-primary">
															  <input type="radio" name="typemaching" id="option2" ng-model="typemaching" value="name" > By Name
															</label>
															<label class="btn btn-primary">
															  <input type="radio" name="typemaching" id="option3" ng-model="typemaching" value="code" > By Code
															</label>
														  </div>
														-->
														
													<table width="100%"
														class="table table-striped table-hover table-condensed table-bordered"
														id="tabledx">

														<thead>
															<tr>
																<th style="width: 50%;"> Source <input type="text" ng-model="searchdx" placeholder="Filter"> </th>
																<th>  {{'Target' | translate}} </th>
															</tr>
														</thead>

														<tbody>
															
															<tr ng-repeat="item in srcMeta | filter:searchdx">
																<td> {{item.name}} </td>
																<td style="text-align: center;">

																	<div id="id_tt">
																		<select style="width:80%;"
																			ng-change="fonc_selectchoisie(item.id,$index,item,trgMeta,'idselect','dx')"
																			class="col-sm-4" ng-model="valuechoix"
																			ng-options="y.name for y  in trgMeta"
																			id="idselect{{$index}}" name="item.id"
																			value="yyyyy">
																		</select>

																	</div>

																</td>


															</tr>
														</tbody>



													</table>
													<br />
													<div>
														<div class="default col-sm-2">
															<div>
																<label class=" active">
																	<input data-ng-model="dxStrategy" type="radio"
																		name="strategy" id="Replace" value="Replace"
																		autocomplete="off" checked> {{'Replace' | translate}}
																</label>
																<label class="">
																	<input data-ng-model="dxStrategy" type="radio"
																		name="strategy" id="Merge" value="Merge"
																		autocomplete="off"> {{'Merge' | translate}}
																</label>
															</div>
														</div>
														<div class="btn btn-default col-sm-2" id="btnImport"
															ng-hide="dxStrategy==''"
															data-ng-click="applyMetaMap(dxStrategy)"><i class="fa"
																aria-hidden="true"></i> {{'Apply' | translate}}</div>
													</div>
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<div class="panel-title">
													<h4>Mapping {{'orgunits' | translate}}</h4>
												</div>
											</div>
											<div id="idmappingOrgunit" class="panel-body">
												<table width="100%"
													class="table table-striped table-hover table-condensed table-bordered">
													<tr>
														<td style="width: 50%;">
															<label> Source </label>
															<select data-ng-model="sourceGroupOUList"
																id="sourceGroupOUList"
																data-placeholder="Select Source Group"
																style="max-width:300px;">
																<option value="" selected="selected"></option> <span
																	style='color:red;margin-right:1.25em; display:inline-block;'>&nbsp;</span>
															</select>
														</td>
														<td style="width: 50%;">
															<label> Target </label>
															<select data-ng-model="targetGroupOUList"
																id="targetGroupOUList"
																data-placeholder="Select Target Group"
																style="max-width:300px;">
																<option value="" selected="selected"></option>
															</select>
														</td>
													</tr>
												</table>
												<div>

												</div>
												<div>
													<a href="#" class="btn btn-info btn-sm" data-toggle="tooltip"
														title="" ng-click="fonc_typematching('code')"
														ng-model="typemaching">
														<span class="glyphicon"></span> CODE</a>

													<a href="#" class="btn btn-info btn-sm" data-toggle="tooltip"
														title="" ng-click="fonc_typematching('id')"
														ng-model="typemaching">
														<span></span> UID</a>

													<a href="#" class="btn btn-info btn-sm" data-toggle="tooltip"
														title="" ng-click="fonc_typematching('name')"
														ng-model="typemaching">
														<span></span> NAME</a>

													<a href="#" class="btn btn-success btn-sm" data-toggle="tooltip"
														title=""
														ng-click="fonc_matching('idselectOu',srcOU,trgOU,'ou')">
														Auto Mapping by {{ typemaching }} </a>

													<table width="100%"
														class="table table-striped table-hover table-condensed table-bordered"
														id="tableOU">

														<thead>
															<tr>
																<th style="width: 50%;"> Source <input type="text" ng-model="searchOU" placeholder="Filter"> </th>
																<th>  {{'Target' | translate}} </th>
															</tr>
														</thead>

														<tbody>
															<tr ng-repeat="item in srcOU | filter:searchOU">
																<td> {{item.name}} </td>
																<td style="text-align: center;">

																	<div id="id_ttttt">

																		<select style="width:80%;"
																			ng-change="fonc_selectchoisie(item.id,$index,item,trgOU,'idselectOu','ou')"
																			class="col-sm-4" ng-model="valuechoixOU"
																			ng-options="z.name for z  in trgOU"
																			id="idselectOu{{$index}}" name="item.id">
																		</select>

																	</div>

																</td>


															</tr>
														</tbody>



													</table>
													<br />
													<div class="default col-sm-2">
														<div>
															<label class=" active">
																<input data-ng-model="ouStrategy" type="radio"
																	name="oustrategy" id="ouReplace" value="Replace"
																	autocomplete="off" checked> Replace
															</label>
															<label class="">
																<input data-ng-model="ouStrategy" type="radio"
																	name="oustrategy" id="ouMerge" value="Merge"
																	autocomplete="off"> {{'Merge' | translate}}
															</label>
														</div>
													</div>
													<div>
														<div class="btn btn-default col-sm-2" id="btnImport"
															ng-hide="ouStrategy==''"
															data-ng-click="applyOUMap(ouStrategy)"><i class="fa"
																aria-hidden="true"></i>{{'Apply' | translate}}</div>
													</div>
												</div>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!--End-->
					</div>
				</div>
			</div>
			<br />
			<!-- Delete instance confirmation modal -->
			<div class="modal fade bs-example-modal-lg" id="confirmInstanceModal" tabindex="-1" role="dialog"
				aria-labelledby="myModalLabel" aria-hidden="true" data-ng-controller="configController">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
									aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel">Confirmation</h4>
						</div>
						<div class="modal-body">
							<input type="hidden" id="did" />
							{{'Save configuration' | translate}}</br>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-danger" data-dismiss="modal">{{'No' | translate}}</button>
							<button type="button" ng-hide="confirmBtn=='ou'" data-ng-click="updateConfigDS()"
								data-dismiss="modal" class="btn btn-primary"> {{'Yes' | translate}}</button>
							<button type="button" ng-hide="confirmBtn=='dx'" data-ng-click="updateConfigOU()"
								data-dismiss="modal" class="btn btn-primary"> {{'Yes' | translate}}</button>
						</div>


					</div>
				</div>
			</div>

			<!-- --------------------------------------------------------------------------------------------------- -->

		</div>
	</div>

	<!-- ***************************************************************************************** -->
	<!-- footer -->
	<div class="foo-footer">
		<div class="col-md-8 col-md-offset-1">
			<p>&copy; HISP WCA</p>
		</div>
	</div>
	<!-- end footer -->

	</div>

	<script>
		$(function () {
			$('[data-toggle="tooltip"]').tooltip()
		});
	</script>

	<!-- /container -->

	<script src="js/main.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="js/bootstrap.min.js"></script>

	<!-- Angular JavaScript -->
	<script src="js/angular.min.js"></script>
	<script src="js/angular-route.min.js"></script>
	<script data-require="angular-translate@*" data-semver="2.5.0" src="js/angular-translate.js"></script>

	<script src="js/dirPagination.js"></script>
	<script src="scripts/controllers/app.js"></script>
	<script src="scripts/controllers/configControllers.js"></script>


	<script src="js/bootstrap-datepicker.js"></script>
	<script src="js/bootstrap-datepicker.fr.js"></script>
	<script src="js/underscore.min.js"></script>
	<script src="js/libs/jquery.blockUI.js"></script>
	<link rel="stylesheet" href="js/libs/DataTables/media/css/jquery.dataTables.css">
	<script type="text/javascript" src="js/libs/DataTables/media/js/jquery.dataTables.min.js"></script>
	<script src="js/libs/es5-shim.min.js"></script>
	<script src="js/moment-with-langs.min.js"></script>
	<script src="js/function.js"></script>
	<script src="js/util.js"></script>
	<script src="js/aes.js"></script>

	<!-- DHIS2 Settings initialization for a baseUrl that is used for the menu -->
	<script>
		window.dhis2 = window.dhis2 || {};
		dhis2.settings = dhis2.settings || {};

		var dhisroot = window.location.href.split('/api/')[0];
		var dhisrootArr = dhisroot.split('/');
	//	console.log("index.html: Prefix: " + dhisrootArr[3]);
		if (dhisrootArr.length >= 4) {
			dhis2.settings.baseUrl = dhisrootArr[3];
		} else {
			dhis2.settings.baseUrl = '';
		}

	</script>


	<!-- Menu scripts -->
	<script type="text/javascript" src="../../../dhis-web-commons/javascripts/dhis2/dhis2.translate.js"></script>
	<script type="text/javascript" src="../../../dhis-web-commons/javascripts/dhis2/dhis2.menu.js"></script>
	<script type="text/javascript" src="../../../dhis-web-commons/javascripts/dhis2/dhis2.menu.ui.js"></script>
	<script type="text/javascript" src="js/utils/dhis2.menu.ui.js"></script>
	<script src="js/select2/select2.min.js"></script>
	<script src="../../../dhis-web-core-resource/lodash/4.15.0/lodash.min.js"></script>
	<script src="../../../dhis-web-core-resource/lodash/4.15.0/lodash.fp.min.js"></script>
	<script src="../../../dhis-web-core-resource/react/15.3.2/react-with-touch-tap-plugin.min.js"></script>
	<script src="../../../dhis-web-core-resource/rxjs/4.1.0/rx.lite.min.js"></script>
	<script src="../../../dhis-web-core-resource/lodash/4.15.0/lodash.min.js"></script>
	<script src="../../../dhis-web-core-resource/lodash-functional/1.0.1/lodash-functional.js"></script>
	<script src="../../../dhis-web-core-resource/babel-polyfill/6.20.0/dist/polyfill.min.js"></script>
	<script src="../../../dhis-web-core-resource/d2-ui/28.0.3/dist/header-bar.js"></script>
	<script>
		jQuery(function () {
			Dhis2HeaderBar.initHeaderBar(document.querySelector('#header'), '../../../api', { noLoadingIndicator: true });
		});
	</script>

</body>

</html>